<div className="justifyView">
    <table>
        <tr>
            <td style="width: 65%;">
                <table scrollY="true" maxHeight="400"> 
                    <thead>
                        <tr>
                            <th *ngFor="let filmShow_th of headers">
                            <span class="theader">{{filmShow_th}}</span>
                        </th>
                        </tr>
                        
                    </thead>
                    <tr *ngFor="let filmShow of sortedFilmShowList" [class.selected]="filmShow === selectedFilmShow">
                        <td style="width: 20%;" (mouseenter)="onSelect(filmShow)">
                            <span class="tbody">{{filmShow.title}}</span>
                        </td>
                        <td style="width: 15%;" (mouseenter)="onSelect(filmShow)">
                            <span class="tbody">{{filmShow.genre}}</span>
                        </td>
                        <td style="width: 15%;" (mouseenter)="onSelect(filmShow)">
                            <span class="tbody">{{filmShow.date}}</span>
                        </td>
                        <td style="width: 20%;" (mouseenter)="onSelect(filmShow)">
                            <span class="tbody">{{filmShow.time}}</span>
                        </td>
                        <td style="width: 15%;" (mouseenter)="onSelect(filmShow)">
                            <span class="tbody">{{filmShow.freeSeats}}</span>
                        </td>
                        <td style="width: 15%;" (mouseenter)="onSelect(filmShow)">
                            <span class="tbody">{{filmShow.cinemaHall}}</span>
                        </td>       
                    </tr>
                </table>
            </td>
            <td style="width: 35%;">
                <!-- <div class="details" *ngIf="selectedFilmShow!=null">
                    <div>
                        <b>{{selectedFilmShow.title}}</b>
                    </div>
                    <div>
                        {{selectedFilmShow.genre}}
                    </div>
                    <div>
                        {{selectedFilmShow.date}}, {{selectedFilmShow.time}}
                    </div>
                </div> -->

                <app-film-show [filmShow]="selectedFilmShow" (deleteFilmShow)="deleteSelectedFilmShow()" (editFilmShow)="openDialog(false,true)"></app-film-show>
            </td>
        </tr>
    </table>
    <button mat-raised-button color="primary" (click)="openDialog(true, false)">DODAJ SEANS</button>
    
</div>


