<h1 mat-dialog-title>
    Dodaj nowy seans
</h1>
<div mat-dialog-content>
    <form #f="ngForm">
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Tytuł </mat-label>
            <input matInput [(ngModel)]="data.film.title" name="title" required minlength="3">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Gatunek </mat-label>
            <input matInput [(ngModel)]="data.film.genre" name="genre" required minlength="3">
        </mat-form-field> -->

        <mat-form-field class="example-full-width">
            <mat-label>Film</mat-label>
            <mat-select [(ngModel)]="data.film" name="film" required>
                <mat-option *ngFor="let f of filmList" [value]="f">
                    {{f.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>Data seansu </mat-label>
            <input matInput type="date" [(ngModel)]="data.date" name="date" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Czas seansu </mat-label>
            <input matInput type="time" [(ngModel)]="data.time" name="date" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Liczba rzędów </mat-label>
            <input matInput [(ngModel)]="data.rows" name="cinemaHall" type="number" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Liczba miejsc w rzędzie </mat-label>
            <input matInput [(ngModel)]="data.seats" name="freeSeats" type="number" required>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>OK</button>
            <button mat-button [mat-dialog-close]="data" *ngIf="f.valid" cdkFocusInitial>OK</button>
            <button mat-button (click)="onNoClick()">Anuluj</button>
        </div>
    </form>
</div>
    