<mat-card class="details">
    <mat-card-header>
        <mat-card-title>Tytuł: {{filmShow.film.title|titlecase}}</mat-card-title>
        <mat-card-subtitle>
            Gatunek: {{filmShow.film.genre|uppercase}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="filmShow.time">
        <!-- <button mat-button (click)="openDialog()"><mat-icon class="red">Start seansu</mat-icon></button>  -->
        Start: {{filmShow.Date}} godz. {{filmShow.time}} 
    </mat-card-content>
    <!-- <mat-card-content>
       <app-cinema-hall ></app-cinema-hall>
    </mat-card-content> -->
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="editSelectedFilmShow()">EDYTUJ</button>
        <button mat-raised-button color="warn" (click)="deleteSelectedFilmShow()">USUŃ</button>
    </mat-card-actions>
</mat-card>
